<div ui-sref="^.dialogue({room_id: item.chat_room.id})" ng-class="{'unread': !item.message.readed && isNotMyMessage(item.message)}" class="dialogue-item" ng-repeat="item in data | orderBy : [orderChatrooms(), '-message.updatedAt']">
	<div class="delivery-side">
		<div class="name">{{item.chat_room.delivery_id.object_name}}</div>
		<div class="id">
			ID <span>{{item.chat_room.delivery_id.id}}</span>
		</div>
	</div>
	<div class="message-side" ng-class="{'empty-chat': !item.message.from_user_id}">
		<div ng-if="item.message.from_user_id" class="avatar inline">
			<img ng-src="{{item.message.from_user_id.avatar | avatar:'thumb'}}" alt=""/>

			<span ng-if="item.message.from_user_id.first_name && item.message.from_user_id.last_name">{{item.message.from_user_id.first_name.charAt(0) + item.message.from_user_id.last_name.charAt(0)}}</span>

			<span ng-if="!item.message.from_user_id.first_name || !item.message.from_user_id.last_name">?</span>
		</div>
		<div class="message-info">
			<div ng-if="item.message.from_user_id" class="message-meta">
				<span class="author">
					<span ng-if="item.message.from_user_id.first_name && item.message.from_user_id.last_name">{{item.message.from_user_id.first_name + ' ' + item.message.from_user_id.last_name}}&nbsp;&nbsp;</span>

					<span ng-if="!item.message.from_user_id.first_name || !item.message.from_user_id.last_name">Unregistered User&nbsp;&nbsp;</span>

					<span ng-if="item.message.from_company_id.name" ng-bind="item.message.from_company_id.name" class="grey"></span>&nbsp;
				</span>
				<time class="delivered-at">{{item.message.updatedAt | amDateFormat: "D MMM YYYY on h:mm"}}</time>
			</div>
			<div ng-if="item.message.from_user_id" class="subject" ng-show="item.chat_room.subject">
				<span class="grey" translate>SUBJECT:</span>&nbsp;
				<span>{{item.chat_room.subject}}</span>
			</div>
			<div ng-if="item.message.from_user_id" class="message-text">
				{{item.message.message}}
			</div>

			<div ng-if="!item.message.from_user_id" class="message-text" translate>
				Chat has no messages
			</div>
		</div>
	</div>
</div>