<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" aria-label="Close">
		<i class="glyphicons glyphicons-remove-2"></i>
	</button>
	<h4 class="modal-title" translate>
		Invite form
	</h4>
</div>
<form class="form-horizontal" name="inviteForm" novalidate>
	<div class="modal-body">
		<p ng-hide="invitationSucceed" class="text-center">Enter email of user you want to invite</p>

		<p ng-show="invitationSucceed" class="text-center">
			<i class="glyphicons glyphicons-circle-ok"></i><br>
			Your invitation has been successfully sent!
		</p>

		<div ng-hide="invitationSucceed" class="form-group" ng-class="{
			'has-error' :
			(inviteForm.Email.$dirty &&
			inviteForm.Email.$invalid) ||
			(inviteForm.$submitted &&
			inviteForm.Email.$invalid)}">
			<div class="col-sm-12">
				<i class="glyphicons glyphicons-envelope"></i>

				<input type="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" name="Email" class="form-control" ng-model="email" placeholder="{{'Email' | translate}}" required>

				<span class="help-block" ng-show="(inviteForm.Email.$dirty && inviteForm.Email.$error.required) || (inviteForm.$submitted && inviteForm.Email.$error.required)" translate>Required!</span>

				<span class="help-block" ng-show="(inviteForm.Email.$dirty && inviteForm.Email.$error.pattern)" translate>Invalid email!</span>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" ng-click="!invitationSucceed ? inviteForm.$valid && send() : cancel()" ng-class="{'spinner': loading.getLoading('invitingUser')}" class="btn btn-primary">
			<span ng-show="!invitationSucceed" translate>Send</span>

			<span ng-show="invitationSucceed">OK</span>
		</button>
	</div>
</form>