<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" aria-label="Close">
		<i class="glyphicons glyphicons-remove-2"></i>
	</button>
	<h4 class="modal-title" translate>New Message</h4>
</div>
<form class="form-horizontal" ng-submit="newMessageForm.$valid && ok()" name="newMessageForm" novalidate>
	<div class="modal-body">
		<div class="form-group inbox-message-to">
			<div ng-show="!loading.getLoading('getOwner')" class="col-xs-2 inbox-message-label" translate>
				TO:
			</div>
			<div ng-show="!loading.getLoading('getOwner')" class="col-xs-10 inbox-message-company">
				<div class="type">
					{{owner.company_type}}:
				</div>
				<div class="name">
					<span ng-if="!owner.company">{{owner.first_name + ' ' + owner.last_name}}</span>
					<span ng-if="owner.company">{{owner.company_name}}</span>
				</div>
			</div>

			<loading-data name="'information about owner'" data="deliveryOwner" show-condition="loading.getLoading('getOwner')"></loading-data>
		</div>

		<div class="form-group">
        	<div class="col-sm-12">
				<input type="text" name="Subject" class="form-control" ng-model="newMessage.subject" placeholder="{{'Subject' | translate}}...">
			</div>
		</div>
		<div class="form-group" ng-if="bids" ng-class="{'has-error' : (newMessageForm.Bid_id.$dirty && newMessageForm.Bid_id.$invalid) || (newMessageForm.$submitted && newMessageForm.Bid_id.$invalid) || (newMessageForm.Bid_id.$dirty && newMessage.bid_id == 'undefined') || (newMessageForm.$submitted && newMessage.bid_id == 'undefined')}">
        	<div class="col-sm-12">

        		<div class="select">
					<select name="Bid_id" ng-model="newMessage.bid_id" class="form-control" placeholder="{{'Select bid' | translate}}..." required>
						<option value="undefined" selected translate>Choose bid...</option>
						<option ng-repeat="item in bids" value="{{item.id}}" ng-bind="item.start_bid"></option>
					</select>
				</div>

				<span class="help-block" ng-show="(newMessageForm.Bid_id.$dirty && newMessageForm.Bid_id.$invalid) || (newMessageForm.$submitted && newMessageForm.Bid_id.$invalid) || (newMessageForm.Bid_id.$dirty && newMessage.bid_id == 'undefined') || (newMessageForm.$submitted && newMessage.bid_id == 'undefined')" translate>Required!</span>
			</div>
		</div>

    	<div class="form-group" ng-class="{
    		'has-error' :
    		(newMessageForm.Message.$dirty &&
    		newMessageForm.Message.$invalid) ||
    		(newMessageForm.$submitted &&
    		newMessageForm.Message.$invalid)}">
        	<div class="col-sm-12">
            	<textarea hotkey-send ng-model="newMessage.message" class="form-control inbox-message-input" name="Message" placeholder="{{'Type message' | translate}}..." required></textarea>

            	<span class="help-block" ng-show="(newMessageForm.Message.$dirty && newMessageForm.Message.$invalid) || (newMessageForm.$submitted && newMessageForm.Message.$invalid)" translate>Required!</span>
        	</div>
    	</div>
	</div>
	<div class="modal-footer clearfix">
		<button type="submit" ng-class="{'spinner': loading.getLoading('sendingMessage')}" class="btn btn-primary col-sm-12"><span translate>Send</span></button>
	</div>
</form>