<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" aria-label="Close">
		<i class="glyphicons glyphicons-remove-2"></i>
	</button>
	<h4 class="modal-title" translate>
		User information
	</h4>
</div>
<div class="modal-body">
	<div class="inbox-user-info">
		<div class="inbox-user-info-top row">
			<div class="col-sm-3">
				<span class="avatar inline">
					<img ng-src="{{user.avatar | avatar:'thumb'}}" alt="">

					<span ng-if="user.first_name && user.last_name">{{user.first_name.charAt(0) + user.last_name.charAt(0)}}</span>

					<span ng-if="!user.first_name || !user.last_name">?</span>
				</span>
			</div>

			<div class="col-sm-9">
				<span class="username" ng-if="user.first_name && user.last_name">
					{{user.first_name + ' ' + user.last_name}}
				</span>

				<span class="username" ng-if="!user.first_name || !user.last_name">
					Unregistered User
				</span>
			</div>
		</div>

		<div class="inbox-user-info-middle row">
			<div class="col-sm-offset-3 col-sm-9">
				<dl>
					<dt>Email</dt>
					<dd ng-bind="user.email"></dd>
				</dl>

				<dl ng-if="company && company.mobile_telephone">
					<dt>Mobile Phone</dt>
					<dd ng-bind="company.mobile_telephone"></dd>
				</dl>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<a class="btn btn-info" ng-if="!canIRemove()" ng-click="cancel()">OK</a>
	<a class="btn btn-default btn-block danger-color" ng-if="canIRemove()" ng-click="remove(user.id)">Remove from this chat</a>
</div>