<div class="inbox-layout">
	<div class="page-header">
		<h1 translate>Inbox</h1>
		<div class="breadcrumbs">
			<a ui-sref="dashboard" translate>Foxrey dashboard</a>
			<a ui-sref="^.list" translate>Inbox</a>
			<span>{{room_info.delivery_id.object_name}} id {{room_info.delivery_id.id}}</span>
		</div>
	</div>
	<div class="page-body">
		<div class="page-toolbar pag-toolbar-filter clearfix">
			<a ui-sref="^.list" class="btn btn-info btn-filter pull-left"><i class="glyphicons glyphicons-left-arrow"></i><span translate>Back to list</span></a>
			<!-- @TODO: modal window Compose: to be or not to be?

			<div class="page-toolbar pag-toolbar-filter clearfix">
				<a class="btn btn-primary btn-filter pull-right" ng-click="newMessage()"><i class="glyphicons glyphicons-pencil"></i><span translate>Compose</span></a>
			</div>-->
		</div>

		<div class="inbox-wrapper">
			<div class="inbox-container dialogue-view">
				<div class="dialogue-view-header">
					<div ng-cloak class="dialogue-info">
						<span class="object">
							<span class="name">{{room_info.delivery_id.object_name}}</span>
							<span class="id">id {{room_info.delivery_id.id}}</span>
						</span>

						<span ng-if="room_info.subject" class="subject">
							<span translate>Subject:</span>&nbsp;
							{{room_info.subject}}
						</span>
					</div>

					<div class="dialogue-members">
						<span ng-click="membersMenu = !membersMenu; closeAllSub()" class="dialogue-members-trigger">
							<i class="glyphicons glyphicons-user"></i>
							<span>{{chatMembers.length}}&nbsp;<span translate>members</span></span>
						</span>

						<div ng-show="membersMenu" class="dialogue-members-window dynamic-submenu">
							<button ng-click="calInviteForm()" class="btn btn-primary" translate>invite people</button>

							<ul class="dialogue-members-list">
								<li ng-repeat="member in chatMembers">
									<a ng-click="viewUserInfo(member.user_id, member.company_id, member.chat_side)" href="#" class="avatar inline">
										<img ng-src="{{member.user_id.avatar | avatar:'thumb'}}" alt=""/>

										<span ng-if="member.user_id.first_name && member.user_id.last_name">{{member.user_id.first_name.charAt(0) + member.user_id.last_name.charAt(0)}}</span>

										<span ng-if="!member.user_id.first_name || !member.user_id.last_name">?</span>
									</a>

									<div class="member">
										<b ng-if="!member.user_id.first_name || !member.user_id.last_name">Unregistered User</b>

										<b ng-if="member.user_id.first_name && member.user_id.last_name">{{member.user_id.first_name + ' ' + member.user_id.last_name}}</b>

										<div class="member-company">
											<span class="name" ng-if="!member.user_id.first_name || !member.user_id.last_name" ng-bind="member.user_id.email"></span>

											<span class="name" ng-if="member.company_id.name">{{member.company_id.name + '&nbsp;'}}</span>
											<span ng-if="!member.company_id.company">Shipper</span>
											<span ng-if="member.company_id.company">{{member.chat_role}}</span>
										</div>
									</div>

									<a ng-click="leaveChatRoom()" class="action" ng-if="(member.user_id.id == selfMember.user_id.id) && selfMember.access_level != 'Superadmin'"><i class="glyphicons glyphicons-log-out"></i></a>

									<a ng-click="removeUser(member.user_id.id)" class="action"
									ng-if="(member.user_id.id != selfMember.user_id.id) &&
											(((selfMember.chat_side == member.chat_side) && (selfMember.access_level == 'Superadmin') && (member.access_level != 'Superadmin')) ||
											((selfMember.chat_side == member.chat_side) && (selfMember.access_level == 'Admin') && (member.access_level == 'Invited')))"
									><i class="glyphicons glyphicons-remove-2"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<button ng-show="!allChatroomMessagesAreShown" ng-click="showPrev()" class="btn dialogue-more btn-sm" translate>show previous messages</button>

				<div ng-click="membersMenu = false" dialogue-body class="dialogue-body">

					<div class="dialogue-body-inner">
						<loading-data name="'messages'" data="messages" show-condition="loading.getLoading('getMessages')"></loading-data>

						<div ng-repeat="message in messages" ng-class="{'system-message' : message.system}" class="dialogue-message">

							<div ng-show="message.id == unreadMark.id || message.id == notDelivered.id" class="message-mark fadein fadeout">
								<div ng-show="message.id == unreadMark.id" ng-class="{'same-author' : isVisible(messages[$index - 1], message)}" class="unread-mark stripe-mark fadein fadeout">
									<hr>
									<span translate>unread</span>
								</div>
							</div>

							<div class="date-mark" ng-if="message.dateMark">
								<hr>
								<span>
									<span ng-if="message.dateMark == 'TODAY'">TODAY</span>
									<span ng-if="message.dateMark != 'TODAY'">{{message.createdAt | amDateFormat: "D MMMM YYYY"}}</span>
								</span>
							</div>

							<div ng-class="{'my-message': selfMember.user_id.id == message.from_user_id.id}" class="message-side">
								<a ng-click="viewUserInfo(message.from_user_id, message.from_company_id, message.chat_side)" ng-hide="isVisible(messages[$index - 1], message)" class="avatar inline">
									<img ng-src="{{message.from_user_id.avatar | avatar:'thumb'}}" alt="">

									<span ng-if="message.from_user_id.first_name && message.from_user_id.last_name">{{message.from_user_id.first_name.charAt(0) + message.from_user_id.last_name.charAt(0)}}</span>

									<span ng-if="!message.from_user_id.first_name || !message.from_user_id.last_name">?</span>
								</a>

								<div ng-class="{'same-author-message': isVisible(messages[$index - 1], message)}" class="message-info">
									<div ng-click="showMessageMenu($index + 'message-actions', $index)" class="message-meta" ng-class="{'hide-sub': (message.from_user_id.id == selfMember.user_id.id) && selfMember.access_level == 'Superadmin' || isVisible(messages[$index - 1], message)}">
										<span ng-hide="isVisible(messages[$index - 1], message)" class="author">
											<span ng-if="message.from_user_id.first_name && message.from_user_id.last_name">{{message.from_user_id.first_name + ' ' + message.from_user_id.last_name}}</span>

											<span ng-if="!message.from_user_id.first_name || !message.from_user_id.last_name">Unregistered User</span>

											<span class="grey" ng-if="message.from_company_id.name">&nbsp;({{message.from_company_id.name}})</span>
										</span>

										<time ng-hide="isVisible(messages[$index - 1], message) && !message.edited" class="delivered-at">
											<span ng-show="message.edited"><span translate>Edited at</span>&nbsp;</span>{{message.updatedAt | amDateFormat: "h:mm"}}
										</time>

										<div ng-if="((message.from_user_id.id == selfMember.user_id.id) && selfMember.access_level != 'Superadmin') || (message.from_user_id.id != selfMember.user_id.id) || isVisible(messages[$index - 1], message)" ng-show="showSub[$index + 'message-actions']" class="user-actions">
											<ul>
												<li ng-click="viewUserInfo(message.from_user_id, message.from_company_id, message.chat_side)" ng-show="message.from_user_id.id != selfMember.user_id.id" translate>
													view user info
												</li>
												<li ng-click="leaveChatRoom()" ng-show="(message.from_user_id.id == selfMember.user_id.id) && (selfMember.access_level != 'Superadmin')" translate>
													leave this chat
												</li>
												<li ng-click="removeUser(message.from_user_id.id)" ng-show="(message.from_user_id.id != selfMember.user_id.id) &&
											(((selfMember.chat_side == message.chat_side) && (selfMember.access_level == 'Superadmin') && (message.from_user_id.access_level != 'Superadmin')) ||
											((selfMember.chat_side == message.chat_side) && (selfMember.access_level == 'Admin') && (message.access_level == 'Invited')))" translate>
													remove from this chat
												</li>
											</ul>
										</div>
									</div>

									<div class="message-text-wrapper" ng-class="{'undelivered' : isNotDelivered(message)}">
										<div class="message-text">
											<div ng-click="showSub[$index + 'user-actions'] = false" ng-show="showSub[$index + 'user-actions']" ng-if="(message.from_user_id.id == selfMember.user_id.id) && !message.system" class="message-actions">
												<ul>
													<li ng-click="edit(message)" translate>
														edit message
													</li>
													<li ng-click="deleteMessage(message.id)" translate>
														delete this message
													</li>
												</ul>
											</div>

											<span class="message-bubble" ng-class="{'editing' : targetEditing.id == message.id}">
												<a ng-class="{'active' : showSub[$index + 'user-actions']}" ng-click="showMessageMenu($index + 'user-actions', $index)" ng-if="(message.from_user_id.id == selfMember.user_id.id) && !message.system" class="message-actions-toggler"><i class="glyphicons glyphicons-cogwheel"></i></a>
												{{message.message}}
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<form ng-click="membersMenu = false" ng-hide="editingMessage" name="typeHere" ng-submit="send() && typeHere.$valid" class="dialogue-view-footer form-inline" novalidate>
					<div class="form-group">
						<textarea msd-elastic="&nbsp;" hotkey-send class="form-control" ng-keyup="readed()" ng-model="newMessage" name="newMessage" placeholder="Type here..." required></textarea>
					</div>

					<button type="submit" ng-class="{'spinner': loading.getLoading('sendingMessage')}" ng-disabled="typeHere.newMessage.$invalid" class="btn btn-primary btn-square btn-lg"><i class="glyphicons glyphicons-send"></i></button>
				</form>

				<form ng-click="membersMenu = false" ng-show="editingMessage" name="editMessage" ng-submit="editRequest(targetEditing)" class="dialogue-view-footer form-vertical flex-wrap--wrap" novalidate>
					<div class="form-group">
						<textarea msd-elastic hotkey-send type="text" class="form-control" ng-model="targetEditing.message" name="targetEditing" placeholder="Type here..." required></textarea>
					</div>

					<div class="form-group">
						<div class="text-center">
							<div class="col-xs-6">
								<button type="submit" ng-class="{'spinner': loading.getLoading('editingMessage')}" ng-disabled="editMessage.targetEditing.$invalid" class="btn btn-primary btn-lg" translate>Edit</button>
							</div>

							<div class="col-xs-6">
								<button type="button" ng-click="editingMessage = false; targetEditing = ''" class="btn btn-danger btn-lg" translate>Cancel</button>
							</div>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
</div>