<div class="page-header">
    <h1 translate>Inbox</h1>
    <div class="breadcrumbs">
        <a ui-sref="dashboard" translate>Foxrey dashboard</a>
        <span translate>Inbox</span>
    </div>
</div>
<div class="page-body">
	<!-- @TODO: modal window Compose: to be or not to be?

	<div class="page-toolbar pag-toolbar-filter clearfix">
		<a class="btn btn-primary btn-filter pull-right" ng-click="newMessage()"><i class="glyphicons glyphicons-pencil"></i><span translate>Compose</span></a>
	</div>-->


	<div class="inbox-container" infinite-scroll="getChats()" infinite-scroll-disabled="infiniteScrollControl.stopScroll" control="infiniteScrollControl" ng-include="'/app/inbox/views/partials/inbox_list_item.html'"></div>

	<loading-data name="'chats'" data="data" show-condition="loading.getLoading('getList')"></loading-data>

</div>